<h2>Flights</h2>
<app-add-flight></app-add-flight>
<table class="table">
  <thead>
  <th>Flight number</th>
  <th>Airline</th>
  <th>From</th>
  <th>To</th>
  <th>Airplane</th>
  <th>Status</th>
  <th>Arrival Time</th>
  </thead>
  <tbody>
  <tr *ngFor="let flight of resources">
    <td>{{flight.flightNumber || "n/A"}}</td>
    <td>{{flight.airline.name || "n/A"}}</td>
    <td>{{flight.from.iataCode || "n/A"}} ({{flight.from.city || "n/A"}})</td>
    <td>{{flight.to.iataCode || "n/A"}} ({{flight.to.city || "n/A"}})</td>
    <td>{{flight.airplane.typeDeclaration || "n/A"}}</td>
    <td>{{flight.status || "n/A"}}</td>
    <td>{{flight.arrivalTime | date : 'medium' }}</td>
  </tr>
  </tbody>
</table>
